img{
    width: 15vh;
    height: auto;
    padding: 10px;
}

.center{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.bottom{
  height: 8vh;
  width: 41%;
  text-align: end;
}

.vertical{
    width: 20vw;
    margin-top: 5vh;
    position: absolute;
    color: rgb(105, 85, 103);
}

input[type=range] {
  -webkit-appearance: none;
  margin-top: 5vh;
  position: absolute;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(105, 85, 103);
  border-radius: 1.3px;
  border: 0.2px solid rgb(105, 85, 103);
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid rgb(105, 85, 103);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
  background-color: rgb(105, 85, 103);
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(105, 85, 103);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(105, 85, 103);
  border-radius: 1.3px;
  border: 0.2px solid rgb(105, 85, 103);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgb(105, 85, 103), 0px 0px 1px rgb(105, 85, 103);
  border: 1px solid rgb(105, 85, 103);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: rgb(105, 85, 103);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(105, 85, 103);
  border-color: rgb(105, 85, 103);
  border-width: 16px 0;
  color: rgb(105, 85, 103);
}
input[type=range]::-ms-fill-lower {
  background: rgb(105, 85, 103);
  border: 0.2px solid rgb(105, 85, 103);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px rgb(105, 85, 103), 0px 0px 1px rgb(105, 85, 103);
}
input[type=range]::-ms-fill-upper {
  background: rgb(105, 85, 103);
  border: 0.2px solid rgb(105, 85, 103);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px rgb(105, 85, 103), 0px 0px 1px rgb(105, 85, 103);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgb(105, 85, 103), 0px 0px 1px rgb(105, 85, 103);
  border: 1px solid rgb(105, 85, 103);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: rgb(105, 85, 103);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgb(105, 85, 103);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgb(105, 85, 103);
}